#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

button:active, button:focus {
  outline: none; }

button::-moz-focus-inner {
  border: 0; }

.clock {
  border: 1px solid #000000; }

.timer-output, .break-wrap, .session-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000000; }

#time-left {
  font-size: 4rem; }

.setting, .btn-control, .break-setting, .session-setting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.btn-control {
  margin: 1rem 0;
  border: 1px solid #000000; }
  .btn-control button {
    height: 3rem; }

#reset {
  margin-left: 1rem; }

.setting {
  border: 1px solid #000000; }

.break-setting, .session-setting {
  margin: 0.5rem;
  border-radius: 1rem;
  border: 0.2rem #000000 solid; }
  .break-setting button, .session-setting button {
    width: 2.5rem; }

#break-decrement, #session-decrement {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem; }

#break-increment, #session-increment {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem; }

#break-length, #session-length {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  padding: 0rem 1rem;
  width: 3rem;
  text-align: center; }
